.projects {
    width: 90rem;
    height: 42.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;

    padding: 4.5rem 7rem;

    position: relative;

    a {
        width: 8.75rem;
        height: 3.5rem;

        background-color: var(--purple-200);
        border: 0;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.4s;
        color: var(--gray-100);

        padding: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;           
    }

    a:hover {
        background-color: var(--purple-100);
    }
    
}

.titles {
    width: 37rem;
    height: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    
    margin-top: 1rem;

    span {
        color: var(--green-50);
    }
}

.illustration1{
  position: absolute;
  left: 3.75rem;
  top: 8.125rem;
}

.illustration2{
    position: absolute;
    right: 1.875rem;
    bottom: .625rem;
  }

  .highlightsContainer {
    width: 76.25rem;
    height: 21.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 1201px) and (max-width: 1440px) {
    .projects {
        max-width: 100%;
    }

    // .highlightContainer {
    //     max-width: 80%;
    // }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .projects {
        width: 100%;
        height: 83rem;

        padding: 0;

        .illustration1 {
            left: 0;
        }

        .illustration2 {
            right: -200px;
        }
    }

    .titles {
        height: 5.5rem;
        margin: 0;
    }
    
    .highlightsContainer {
        padding: 1rem 12rem;

        max-width: 100%;
        height:calc(21.5rem + 21.5rem + 21.5rem + 4rem);
        
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .projects {
        width: 100%;
        height: 83rem;

        padding: 0;

        .illustration1 {
            left: 0;
        }

        .illustration2 {
            right: -200px;
        }
    }

    .titles {
        height: 5.5rem;
        margin: 0;
    }
    
    .highlightsContainer {
        padding: 1rem 12rem;

        max-width: 100%;
        height:calc(21.5rem + 21.5rem + 21.5rem + 4rem);
        
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .projects {
        width: 100%;
        height: 83rem;
    }

    .titles {
        max-width: 21.875rem;
        text-align: center;
    }

    .highlightsContainer {
        width: 48rem;
        height:calc(21rem + 21rem + 21rem + 2rem) ;
        flex-direction: column;
    }

    .illustration2 {
        left: 43.75rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .projects {
        width: 100%;
        height: 83rem;
    }

    .titles {
        max-width: 21.875rem;
        text-align: center;
    }

    .highlightsContainer {
        width: 48rem;
        height:calc(21rem + 21rem + 21rem + 2rem) ;
        flex-direction: column;
    }

    .illustration1 {
        left: 0;
    }

    .illustration2 {
        right: 0;
    }
}